// ================================
//  Section Style
// ================================
.section 
	position: relative
	width: 100%

	padding: font-default
	box-sizing: border-box
	
	+mod('home')
		padding: em(50px) em(16px)