// ================================
//  Global Style
// ================================
*, 
*:after,
*:before 
	-mox-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
	margin: em(0px)
	padding: em(0px)

html,
body
	height: 100%

body 
	background-color: brand-default
	color: brand-dark-gray
	
	font-family: futura-medium
	font-size: font-default	
  font-smoothing: antialiased

  text-rendering: optimizeLegibility
  text-size-adjust: none
	
h1, h2, h3, h4, h5, h6
	font-family: futura-heavy
	
ol, ul
	list-style: none
	
a
	text-decoration: none
	
img
	width: 100%

.container
	position: relative
	max-width: em(980px)
	width: 100%
	margin-left: auto
	margin-right: auto

	&:after 
			content: " "
			display: block
			clear: both 