mixin navbar(theme)
	nav(class='nav-bar nav-bar--' + theme)
		div(class='container')
			div(class='nav-bar__col')
				a(href="http://www.netcombo.com.br/", target="_blank"  title="Navegar para a homepage da NET")
					svg(class="navbar-logo"): use(xlink:href="assets/images/icons/icons.svg#net")

			div(class='nav-bar__col')
				ul(class='nav-bar__list')
					li(class='nav-bar__item')
						a(href="https://www.facebook.com/NEToficial", target="_blank"  title="Navegar para a página do Facebook")
							svg(class="navbar-logo"): use(xlink:href="assets/images/icons/icons.svg#facebook")
					
					li(class='nav-bar__item')
						a(href="https://twitter.com/NEToficial", target="_blank"  title="Navegar para o Twitter")
							svg(class="navbar-logo"): use(xlink:href="assets/images/icons/icons.svg#twitter")
					
					li(class='nav-bar__item')
						a(href="https://www.youtube.com/user/netoficial", target="_blank"  title="Navegar para o YouTube")
							svg(class="navbar-logo"): use(xlink:href="assets/images/icons/icons.svg#youtube")