footer(class='footer footer--dark-blue')
	div(class='container')
		div(class='footer__col')
			a(href="http://www.netcombo.com.br/", target="_blank"  title="Navegar para a homepage da NET")
				svg(class="footer-logo"): use(xlink:href="assets/images/icons/icons.svg#net")

		div(class='footer__col')
			h6(class='footer__info') @NET. Todos os direitos reservados.
				a(href='http://www.netcombo.com.br/termos-e-condicoes/', target='_blank') Termos e Condições
				|  e 
				a(href='http://www.netcombo.com.br/politica-de-privacidade/', target='_blank') Política de Privacidade