doctype html
html(lang='pt-br')

	head

		title Carousel Multiplus

		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
		link(rel='stylesheet', href='assets/stylesheet/application.css')

	body
		//- Views
		include _views/_section-one

		script(src='assets/javascript/jquery-3-2-1.min.js')
		script(src='assets/javascript/cloud9-carousel.js')
		script(src='assets/javascript/bundle.js')