.footer
	box-sizing: border-box
	
	background-color: brand-blue-2
	color: brand-default
	
	padding: em(15px)
	
	& svg
		fill: brand-default
		width: em(100px)
		height: em(35px)
		margin: em(3px) em(0px)
		
	+el('col')
		height: 100%
		
		&:nth-child(1)
			text-align: left
		
		&:nth-child(2)
			text-align: right
			
	+el('info')
		padding: em(12px) em(0px)
		
		& a
			color: brand-default
			text-decoration: underline

	+mod('blue')
		background-color: brand-blue-2
		
		& svg
			fill: brand-default

	+mod('dark-blue')
		background-color: brand-blue-3
		
		& svg
			fill: brand-default

+media('mobile')
	.footer
		height: auto
		text-align: center
		
		+el('col')
			grid(col-12)
			
			&:nth-child(1)
				text-align: center
			
			&:nth-child(2)
				text-align: center
				
+media('tablet')
	.footer
		height: em(69px)
		text-align: center
		
		+el('col')
			grid(col-6)
			padding: em(0px)
			
			&:nth-child(1)
				text-align: left
			
			&:nth-child(2)
				text-align: right