.nav-bar
	box-sizing: border-box
	
	background-color: brand-default
	color: brand-dark-gray
	
	height: 69px
	padding: em(15px)
	
	& svg
		fill: brand-blue-2
	
	+el('col')
		padding: em(0px)
		
		&:nth-child(1)
			text-align: left
			& svg
				width: em(100px)
				height: em(35px)
				margin: em(3px) em(0px)

		&:nth-child(2)
			text-align: right
	
	+el('list')
		list-style: none
		
	+el('item')
		display: inline-block
		width: em(40px)
		height: em(40px)
		margin: em(0px) em(5px)
		
		& a
			text-decoration: none
			color: brand-dark-gray
			width: em(50px)
			height: em(50px)
			
		& svg
			width: em(40px)
			height: em(40px)
			

	+mod('blue')
		background-color: brand-blue-2		
		& svg
			fill: brand-default

	+mod('dark-blue')
		background-color: brand-blue-3		
		& svg
			fill: brand-default
			
+media('mobile')
	.nav-bar__col
		&:nth-child(1)
			grid(col-4)
			padding: 0px

		&:nth-child(2)
			grid(col-8)
			padding: 0px

+media('notebook')
	.nav-bar__col
		&:nth-child(1)
			grid(col-6)
			padding: 0px

		&:nth-child(2)
			grid(col-6)
			padding: 0px
