// =======================================
//  Animations
// =======================================
	// -------------------------------------
	// Slide to down modal
	@keyframes slideDownModal
		0%
			opacity: 0
			transform: translate3D(-50%,-60%, 0)
		100%
			opacity: 1
			transform: translate3D(-50%,-50%, 0)
			
	// -------------------------------------
	// Slide to down
	@keyframes slideDown
		0%
			opacity: 0
			transform: translateY(-50px)
		100%
			opacity: 1
			transform: translateY(0px)
	
	// -------------------------------------
	// Slide to Left
	@keyframes slideLeft
		0%
			opacity: 0
			transform: translateX(-50px)
		100%
			opacity: 1
			transform: translateY(0px)
	
	// -------------------------------------
	// Slide to right
	@keyframes slideRight
		0%
			opacity: 0
			transform: translateX(50px)
		100%
			opacity: 1
			transform: translateY(0px)
	
	// -------------------------------------
	// Elastic effect
	@keyframes elastic
		from
			transform: scale3d(1,1,1)

		30%
			transform: scale3d(1.25,.75,1)
		40%
			transform: scale3d(0.75,1.25,1)
		50%
			transform: scale3d(1.15,.85,1)
		65%
			transform: scale3d(.95,1.05,1)
		75%
			transform: scale3d(1.05,.95,1)

		to
			transform: scale3d(1,1,1)
			

	@keyframes slideCard
		0%			
			transform translate3D(0%, 10%, 0px) scale(0.8)
			
		100%
			transform translate3D(0%, 0%, 0px) scale(1)