// =======================================
//  Buttons
// =======================================
.x-btn 
	position: relative

	display: inline-block
	padding: em(10px) em(20px)
	
	box-sizing: border-box
	border: 0px
	
	font-family: 'GothamRounded-Medium'
	font-size: font-default
	font-weight: 400

	text-align: center
	text-transform: uppercase
	text-decoration: none

	vertical-align: middle
	touch-action: manipulation

	margin: 0 auto

	cursor: pointer
	user-select: none
	transition: all 300ms ease

	+mod('red')
		color: #FFF
		background-color: #c40f17
		border-radius: 50px
	
		&:hover
			color: #FFF
			background-color: #B40D15

+media('mobile')
	.cadastro_input_submit
		width 100%
		font-size em(10px)
		
+media('tablet')
	.cadastro_input_submit
		font-size em(12px)

