.x-carousel 
	position relative
	width 100%
	
	&__wrapper
		width 100%
		height 70vh

	&__item
		text-align center
			
		&__content
			display none
			
			&.is-active
				display block
			
		& img
			width 50%
			margin 0px auto

	&__controls
		position absolute
		bottom -30px
		width 100%
		
		&__prev
			float left		
		&__next
			float right