// ================================
//  Functions
// ================================
	
	// ------------------------------
	// Convert pixels to em
	// Example: font-size: em(16px)
	// Result: font-size: 1em
	em(value, context = font-default)
		type = unit(value)
		if type == 'px'
			return unit(value / context, 'em')
		else
			return unit(value, type)