// =======================================
//  Variables
// =======================================
	
	// ------------------------------
	// NET Colors
	brand-default 		=	#F7F7F7
	
	brand-blue-1			= #7DD7FF
	brand-blue-2			=	#00A4EC
	brand-blue-3			=	#0061B2
	brand-blue-4			= #002F58
	brand-blue-6			= #0E2030
	
	brand-yellow			= #FBD710
	brand-orange-1		= #FF9C00
	brand-orange-2   	= #F97000
	
	brand-light-gray  = #777
	brand-dark-gray 	= #444

	// -------------------------------------
	// Font family
	futura-light      = 'FuturaStd-Light', sans-serif
	futura-medium     = 'FuturaStd-Medium', sans-serif
	futura-bold       = 'FuturaStd-Bold', sans-serif
	futura-heavy      = 'FuturaStd-Heavy', sans-serif
	futura-book       = 'FuturaStd-Book', sans-serif
	
	calibri           = 'Calibri', sans-serif
	calibri-bold      = 'Calibri-Bold', sans-serif
	
	gotham-medium     = 'GothamRnd-Medium', sans-serif
	gotham-bold       = 'GothamRnd-Bold', sans-serif
	gotham-book       = 'GothamRnd-Book', sans-serif
	
	roboto-regular    = 'Roboto-Regular', sans-serif
	roboto-italic     = 'Roboto-Italic', sans-serif
	roboto-bold       = 'Roboto-Bold', sans-serif
	roboto-bold       = 'Roboto-Bold', sans-serif
	
	nunito-light      = 'Nunito-Light', sans-serif
	
	// -------------------------------------
	// Font size
	font-default      =    16px
	font-medium       =    32px
	font-big          =    50px

	// -------------------------------------
	// Breakpoints
	bp-mobile         =    320px
	bp-tablet         =    768px
	bp-notebook       =    1024px
	bp-desktop        =    1440px

	// -------------------------------------
	// Grid columns size
	col-1             = 7.04225%
	col-2             = 15.49296%
	col-3             = 23.94366%
	col-4             = 32.39437%
	col-5             = 40.84507%
	col-6             = 49.29577%
	col-7             = 57.74648%
	col-8             = 66.19718%
	col-9             = 74.64789%
	col-10            = 83.09859%
	col-11            = 91.5493%
	col-12            = 100%