section(class='section section--home')
	div(class='container')

		div(class='x-carousel')

			div(class='x-carousel__wrapper')
				div(class='x-carousel__item')
					img(src='https://www.itau.com.br/_arquivosestaticos/Itau/defaultTheme/img/multiplus/cartao_black.png')

				div(class='x-carousel__item')
					img(src='https://www.itau.com.br/_arquivosestaticos/Itau/defaultTheme/img/multiplus/cartao_platinum.png')

				div(class='x-carousel__item')
					img(src='http://www.itau.com.br/_arquivosestaticos/Itau/defaultTheme/img/multiplus/cartao_gold.png')

				div(class='x-carousel__item')
					img(src='http://www.itau.com.br/_arquivosestaticos/Itau/defaultTheme/img/multiplus/cartao_internacional.png')

			div(class='x-carousel__contents')
				div(class='x-carousel__item__content is-active')
					h1 Title of content 01
					p Lorem ipsum dollor lorem ipsum dollor ipsum dollor lorem ipsum dollor

				div(class='x-carousel__item__content')
					h1 Title of content 02
					p Lorem ipsum dollor lorem ipsum dollor ipsum dollor lorem ipsum dollor

				div(class='x-carousel__item__content')
					h1 Title of content 03
					p Lorem ipsum dollor lorem ipsum dollor ipsum dollor lorem ipsum dollor

				div(class='x-carousel__item__content')
					h1 Title of content 04
					p Lorem ipsum dollor lorem ipsum dollor ipsum dollor lorem ipsum dollor

			div(class='x-carousel__controls')
				button(class='x-carousel__controls__prev') ←
				button(class='x-carousel__controls__next') →

			a(class='x-btn x-btn--red') Multiplus